# EJERCICIOS SPARK, Ejercicio 2 - Julia Hernández Elena

In [24]:
import os
import pandas as pd

from pyspark import SparkConf
from pyspark.sql import SparkSession
from pyspark.sql import Row
import pyspark.sql.functions as F

In [18]:
conf = (

    SparkConf()
    .setAppName(u"[ICAI] Ejercicios Spark")
    .set("spark.executor.memory", "7g")
    .set("spark.executor.cores", "5")
    .set("spark.default.parallelism", 600)
    .set("spark.sql.shuffle.partitions", 600) 
    .set("spark.dynamicAllocation.maxExecutors", 2) 
)

In [19]:
spark = (

    SparkSession.builder
    .config(conf=conf)
    .enableHiveSupport()
    .getOrCreate()

)

# EJERCICIO 2

In [ ]:
!hadoop fs -ls /datos/dataframe/people-with-header-100k.txt

### 1. Leer los datos hasta conseguir la estructura dada:

In [20]:
people = (

    spark.read
    .options(header=True, inferSchema=True, sep =':')
    .csv('/datos/dataframe/people-with-header-100k.txt')
    
).cache() #lo dejamos en cache para trabajar mas rapido

In [21]:
people.printSchema()

root
 |-- id: integer (nullable = true)
 |-- firstName: string (nullable = true)
 |-- middleName: string (nullable = true)
 |-- lastName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- birthDate: timestamp (nullable = true)
 |-- ssn: string (nullable = true)
 |-- salary: integer (nullable = true)

### 2. Mostrar los 5 primeros registros por pantalla:

In [22]:
people.show(5)

+---+---------+----------+--------+------+-------------------+-----------+------+
| id|firstName|middleName|lastName|gender|          birthDate|        ssn|salary|
+---+---------+----------+--------+------+-------------------+-----------+------+
|  1|  Angelia|   Claudie|  Newcom|     F|1973-12-25 00:00:00|913-89-7821| 92292|
|  2|     Cher|  Serafina|   Boice|     F|1967-10-15 00:00:00|916-84-4461| 72490|
|  3|   Easter|  Christia| Dempsey|     F|1976-05-27 00:00:00|961-44-7257| 83931|
|  4|   Bonnie|   Chanell| Messent|     F|1984-01-07 00:00:00|901-91-5831| 92906|
|  5|    Maren|   Shawana|Crauford|     F|1963-05-13 00:00:00|912-18-4568| 72483|
+---+---------+----------+--------+------+-------------------+-----------+------+
only showing top 5 rows

### 3. Para cada tipo de género, calcular:

- El máximo de birthDate
- El mínimo de birthDate
- El media de salary

In [25]:
people.groupBy("gender").agg(
    F.max("birthDate").alias("Max Birthday"),
    F.min("birthDate").alias("Min Birthday"),
    F.mean("salary").alias("Mean of salary")

).show()

+------+-------------------+-------------------+--------------+
|gender|       Max Birthday|       Min Birthday|Mean of salary|
+------+-------------------+-------------------+--------------+
|     F|2000-01-30 00:00:00|1951-12-31 00:00:00|   72807.27248|
|     M|2000-01-30 00:00:00|1952-01-01 00:00:00|   72691.80502|
+------+-------------------+-------------------+--------------+

In [26]:
spark.stop()